:root {
  --standard-background: #eee;
  --my-white: #f8f8f8;
  --my-blue: #2c87ff;
  --my-lightgrey: #e5effc;
  --my-grey: #ccc;
}

.filter-my-white {
  filter: invert(100%) sepia(1%) saturate(1774%) hue-rotate(323deg) brightness(118%) contrast(95%);
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  grid-template: auto 1fr 1fr / 1fr 5fr 2fr;
  margin: 0;
}

.sidebar {
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--my-blue);
  margin: 0;
  color: var(--my-white);
  padding: 20px;
}

.sidebar-header {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
}

.sidebar-container1, .sidebar-container2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-icon {
  height: 3ex;
}

.sidebar-icon {
  height: 2ex;
}

.sidebar-item {
  font-weight: bold;
  font-size: large;
  margin: 20px 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.header {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: var(--my-white);
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  align-items: center;
}

.header-search {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.search-icon {
  height: 1.5em;
  margin: 15px 0 15px 15px;
}

.header-search-input {
  background-color: var(--my-lightgrey);
  border-radius: 20px;
  margin: 20px;
  border-style: none;
  height: 2.5em;
}

.header-top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.alarm-icon {
  height: 1.5em;
}

.user-menu-image {
  height: 50px;
}

.header-greeter {
  display: grid;
  grid-template: 3ex auto / auto 1fr;
  margin: 10px 40px;
  gap: 0 8px;
}

.greeter-image { 
  height: 80px;
  grid-row: span 2;
}

.greeting {
  font-size: smaller;
  font-weight: bold;
}

.greeting-user {
  font-size: x-large;
  font-weight: 900;
}

.header-buttons {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-buttons>li {
  background-color: var(--my-blue);
  color: var(--my-white);
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 30px;
}

.projects, .announcements, .trending {
  background-color: var(--my-lightgrey);
  z-index: -1;
}

.projects {
  grid-row: span 2;
  padding: 20px 10px 20px 20px;
}

.announcements, .trending {
  padding: 20px 20px 20px 10px;
}

.project-panel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  grid-auto-rows: minmax(200px,auto);
}

.project, .announcement-container, .trending-container {
  background-color: var(--my-white);
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(0,0,0,.1);
}

.project {
  background-color: orange;
  border-radius: 10px;
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
}

.project>* {
  margin: 0;
  background-color: white;
  padding: 10px;
}

.project-title {
  border-radius: 0 10px 0 0;
  padding-bottom: 0;
  font-size: larger;
}

.project-description {
    flex-grow: 1;
}

.project-actions {
  border-radius: 0 0 10px 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 3ex;
  padding: 10px 20px 20px;
}

.project-actions-item>img {
  height: 2em;
}

.announcement-container, .trending-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.announcement-title {
  margin: 0 0 10px 0;
  font-size: unset;
}

.announcement-description {
  font-size: smaller;
}

.announcement-container>:last-child>hr {
  display: none;
}

.announcement>hr {
  color:var(--my-lightgrey);
  margin: 20px 5px 20px -5px;
}

.trending-container {
  gap: 25px;
}

.trending-item {
  display: grid;
  grid-template: 1fr / auto 1fr;
  align-items: center;
  gap: 7pt;
}

.trending-icon {
  height: 60px;
}